name: ShellCheck

on:
  push:
  pull_request:

jobs:
  shellcheck:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install shellcheck
        run: brew install shellcheck

      - name: Run shellcheck
        run: make lint
